<app-header-breadcrumb></app-header-breadcrumb>
<div [class.hidden]="!showLoaderDialogRelatorio" class="np-loader">
  <p-progressSpinner strokeWidth="5"></p-progressSpinner>
</div>
<form #f="ngForm" autocomplete="off" (ngSubmit)="pesquisa()">
<p-panel header="Relatório de Atendimento por Usuário">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-2">
      <label>Período</label>
        <p-calendar [(ngModel)]="filtro.dataInicial" name="dataInicial" required dateFormat="dd/mm/yy" inputId="dataInicial"></p-calendar>
    </div>
    <div class="p-field p-col-12 p-md-2">
      <label>&nbsp;</label>
        <p-calendar [(ngModel)]="filtro.dataFinal" name="dataFinal" required dateFormat="dd/mm/yy" inputId="dataFinal"></p-calendar>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-4">
      <label>Usuário</label>
      <p-dropdown inputId="usuario" [options]="usuarios" name="area" [(ngModel)]="filtro.usuario"
        placeholder="Selecione a opção" #usuario="ngModel">
      </p-dropdown>
    </div>
  </div>  
  
  <div class="p-field">
    <div class="p-field-checkbox">
      <p-checkbox name="alteradas" 
        [(ngModel)]="filtro.alteradas" inputId="alteradas" [binary]="true" #alteradas="ngModel">
      </p-checkbox>
      <label for="city3">Alteradas</label>&nbsp;
    </div>
    <div class="p-field-checkbox">
      <p-checkbox name="concluidas" 
        [(ngModel)]="filtro.concluidas" inputId="concluidas" [binary]="true" #concluidas="ngModel">
      </p-checkbox>
      <label for="city4">Concluídas</label>&nbsp;
    </div>
    <div class="p-field-checkbox">
      <p-checkbox name="encaminhadas" 
        [(ngModel)]="filtro.encaminhadas" inputId="encaminhadas" [binary]="true" #encaminhadas="ngModel">
      </p-checkbox>
      <label for="city5">Encaminhadas</label>&nbsp;
    </div>
    <div class="p-field-checkbox">
      <p-checkbox name="despacho" 
        [(ngModel)]="filtro.despacho" inputId="despacho" [binary]="true" #despacho="ngModel">
      </p-checkbox>
      <label for="city6">Despachos</label>&nbsp;
    </div>
    <div class="p-field-checkbox">
      <p-checkbox name="respostasParcial" 
        [(ngModel)]="filtro.respostasParcial" inputId="respostasParcial" [binary]="true" #respostasParcial="ngModel">
      </p-checkbox>
      <label for="city7">Resposta Parcial</label>&nbsp;
    </div>
  </div>
  <br>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-2">
      <button pButton type="submit"
      [disabled]="f.invalid"
      label="Gerar Relatório"></button>
    </div>
    <div class="p-field p-col-1">
      <button pButton type="button"  (click)="showPDF()"
      [disabled]="f.invalid || dados.length === 0"  label="PDF" icon="pi pi-file-pdf" iconPos="left"></button>

    </div>
    <div class="p-field p-col-1">
      <button pButton type="button"
      icon="pi pi-file-excel"
      iconPos="left"
      label="Excel"
      (click)="exportAsXLSX()"
      [disabled]="f.invalid || dados.length === 0"></button>
    </div>
  </div>
</p-panel>
<br>
<p-card>
  <div class="p-fluid p-formgrid p-grid">
    <p-table [value]="dados"   styleClass="p-datatable-sm p-datatable-striped" sortField="area" sortMode="single" [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:200px">Protocolo</th>
            <th style="min-width:200px">Data/Hora Entrada</th>
            <th style="min-width:200px">Usuário Criação</th>
            <th style="min-width:200px">Data/Hora Última Alteração</th>
            <th style="min-width:200px">Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-atendimento let-rowIndex="rowIndex">
      <tr>
        <td>
          <a  (click)="showAtendimento(atendimento.id)"><u>
          {{atendimento.protocolo}}</u>
          </a>
        </td>
        <td align="center">
          {{atendimento.data}}
        </td>
        <td>
          {{atendimento.nomeCriacao}}
        </td>
        <td align="center">
          {{atendimento.dataAlteracao}}
        </td>
        <td align="center">
          {{atendimento.status}}
        </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        Total de Manifestações {{dados ? dados.length : 0 }}
    </div>
</ng-template>  
</p-table>

  </div>
</p-card>

</form>
