<app-header-breadcrumb></app-header-breadcrumb>
<form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
<p-panel header="Descrição de Ouvidoria">

  <div class="p-col-12 p-md-10 p-fluid">
    Caso desejar, descreva aqui o texto com instruções ou informações que deverá aparecer na tela principal do atendimento online.
  </div>
    <div class="p-col-12 p-md-9 p-fluid">
      <label>Descrição</label>

      <ckeditor
      [(ngModel)]="descricaoOuvidoria.descricao"
      [editor]="Editor"
      name="descricao">
      </ckeditor>

    </div>

  <p-footer>
    <button pButton type="submit" label="Salvar" class="ui-button prime-button" [disabled]="f.invalid"></button>&nbsp;
  </p-footer>
</p-panel>
</form>
